#q2 {
background-image:url("hardware.jpg")
}
p {
	color:yellow; font-size:20px; font-family:times new roman;
}
#q4 {
background-image:url("softwaree.jpg")
}
#q6 {
background-image:url("ccaa.jpeg")
}

h1 {
	color:yellow;
}
#q8 {
background-image:url("htmll.png")
}
#q9 {
background-image:url("js.png")
}
